<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="buy">

<resultMap type="hashmap" id="mypageBuyList">
		<id column="BUYLIST_ID" property="buyListId" />
		<id column="BUYLIST_DATE" property="buyListDate" />
		<id column="BUYLIST_TOTALPRICE" property="buyListTotalprice" />
</resultMap>


<select id="mybuyList" parameterType="member" resultMap="mypageBuyList">
select BUYLIST_ID,TO_CHAR(BUYLIST_DATE,'YYYY-MM-DD'),BUYLIST_TOTALPRICE
from BUYLIST
where member_id=#{memberId} order by buylist_id desc
</select>

<resultMap type="hashmap" id="selectList">
		<id column="BUYLIST_ID" property="buyId" />
		<id column="member_name" property="memberName" />
		<id column="member_tel" property="memberTel" />
		<id column="member_address" property="memberAddress" />
		<id column="BUYLIST_DATE" property="buyListDate" />
		<id column="PRODUCT_NAME" property="productName" />
		<id column="BUY_CNT" property="buyCnt" />
		<id column="product_price" property="productPrice" />
		<id column="BUYLIST_TOTALPRICE" property="buyListTotalprice" />
</resultMap>

<select id="buyReceipt" parameterType="String" resultMap="selectList">
select a.BUYLIST_ID BUYLIST_ID,m.member_name member_name,m.member_tel member_tel,m.member_address member_address,TO_CHAR(a.BUYLIST_DATE,'YYYY-MM-DD') BUYLIST_DATE,
b.PRODUCT_NAME PRODUCT_NAME, c.BUY_CNT BUY_CNT, b.product_price product_price,(b.product_price*c.BUY_CNT) BUYLIST_TOTALPRICE
from BUYLIST a, PRODUCT b,BUY c,member m
where c.product_id=b.product_id and c.buylist_id=a.buylist_id and a.member_id=m.member_id and a.buylist_id=#{id} 
</select>


<insert id="buyListInsert" parameterType="hashmap">
insert into BUYLIST values(BUYLIST_ID_SEQ.nextval,sysdate,#{memberId},#{totalPrice})

 <selectKey keyProperty="buyListId" resultType="Integer" order="AFTER">
    select BUYLIST_ID_SEQ.currval FROM dual 
  </selectKey>
</insert>

<insert id="buyInsert" parameterType="hashmap">
insert into buy values(BUY_ID_SEQ.nextval,${buyListId},${productId},${cnt},${price})
</insert>


<delete id="deleteCart" parameterType="hashmap">
delete from BUYCARTLIST where MEMBER_ID=#{memberId}
</delete>
</mapper>