<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="communityDAO">

<insert id="writeIntoBoard" parameterType="community">
INSERT INTO communityboard(communityboard_id, COMMUNITYBOARD_LOCATION, COMMUNITYBOARD_TITLE, COMMUNITYBOARD_CONTENT, COMMUNITYBOARD_UPLOADTIME, COMMUNITYBOARD_READCOUNT, COMMUNITYBOARD_RECOMMEND, MEMBER_ID)
VALUES(communityboard_id_seq.nextval, #{cityName}||' '||#{province}, #{communityboardTitle}, #{communityboardContent}, sysdate, 0, 0, #{memberId} )
<selectKey keyProperty="communityboardId" resultType="String" order="AFTER">
         SELECT communityboard_id_seq.currval FROM dual 
</selectKey>
</insert>

<select id="getBoardList" resultType="community">
select c.communityboard_id communityboard_id, c.communityboard_location communityboard_location, c.communityboard_title communityboard_title, 
c.communityboard_content communityboard_content, c.communityboard_readcount communityboard_readcount, c.communityboard_recommend communityboard_recommend, c.member_id member_id,
decode(To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'), to_char(sysdate,'YYYY-MM-DD'), (To_char(c.communityboard_uploadtime, 'hh24:mi:ss')), (To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'))) communityboard_uploadtime 
, nvl(b.commentCount,0) commentCount
from communityboard c, (select communityboard_id, count(boardcomment_id) commentCount from boardcomment group by communityboard_id) b
where c.communityboard_id = b.communityboard_id(+)
order by communityboard_id desc
</select> 
 
<select id="communityBoardListByPaging" parameterType="community" resultType="community">
<![CDATA[
select *
from(select communityboard_id, communityboard_location, communityboard_title, 
communityboard_content, communityboard_readcount, communityboard_recommend, member_id,
communityboard_uploadtime 
, commentCount, ROWNUM AS RNUM
from(
select c.communityboard_id communityboard_id, c.communityboard_location communityboard_location, c.communityboard_title communityboard_title, 
c.communityboard_content communityboard_content, c.communityboard_readcount communityboard_readcount, c.communityboard_recommend communityboard_recommend, c.member_id member_id,
decode(To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'), to_char(sysdate,'YYYY-MM-DD'), (To_char(c.communityboard_uploadtime, 'hh24:mi:ss')), (To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'))) communityboard_uploadtime 
, nvl(b.commentCount,0) commentCount
from communityboard c, (select communityboard_id, count(boardcomment_id) commentCount from boardcomment group by communityboard_id) b
where c.communityboard_id = b.communityboard_id(+)
order by communityboard_id desc
))
where RNUM>=#{startList} and RNUM<=#{lastList}
]]>
</select>  

<select id="getBoardContent" parameterType="community" resultType="community">
<![CDATA[
select communityboard_id, communityboard_location, communityboard_title, communityboard_content, communityboard_readcount, communityboard_recommend, member_id, communityboard_uploadtime
from communityboard
where communityboard_id=#{communityboardId}
]]>
</select> 

<select id="getBoardListBySearch" parameterType="community" resultType="community">
<![CDATA[
select c.communityboard_id communityboard_id, c.communityboard_location communityboard_location, c.communityboard_title communityboard_title, 
c.communityboard_content communityboard_content, c.communityboard_readcount communityboard_readcount, c.communityboard_recommend communityboard_recommend, c.member_id member_id,
decode(To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'), to_char(sysdate,'YYYY-MM-DD'), (To_char(c.communityboard_uploadtime, 'hh24:mi:ss')), (To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'))) communityboard_uploadtime
, nvl(b.commentCount,0) commentCount
from communityboard c, (select communityboard_id, count(boardcomment_id) commentCount from boardcomment group by communityboard_id) b
where c.communityboard_id = b.communityboard_id(+)
and ${searchType} like '%'||#{keyWord}||'%'
order by communityboard_id desc
]]>
</select>  


<select id="getBoardListByLocation" parameterType="community" resultType="community">
select c.communityboard_id communityboard_id, c.communityboard_location communityboard_location, c.communityboard_title communityboard_title, 
c.communityboard_content communityboard_content, c.communityboard_readcount communityboard_readcount, c.communityboard_recommend communityboard_recommend, c.member_id member_id,
decode(To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'), to_char(sysdate,'YYYY-MM-DD'), (To_char(c.communityboard_uploadtime, 'hh24:mi:ss')), (To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'))) communityboard_uploadtime
, nvl(b.commentCount,0) commentCount
from communityboard c, (select communityboard_id, count(boardcomment_id) commentCount from boardcomment group by communityboard_id) b
where c.communityboard_id = b.communityboard_id(+)
and SUBSTR(communityboard_location, 0,2)=#{cityName} and SUBSTR(communityboard_location,4,2) = #{province}
order by communityboard_id desc
</select> 

<select id="getBoardListByReadCount" resultType="community">
select c.communityboard_id communityboard_id, c.communityboard_location communityboard_location, c.communityboard_title communityboard_title, 
c.communityboard_content communityboard_content, c.communityboard_readcount communityboard_readcount, c.communityboard_recommend communityboard_recommend, c.member_id member_id,
decode(To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'), to_char(sysdate,'YYYY-MM-DD'), (To_char(c.communityboard_uploadtime, 'hh24:mi:ss')), (To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'))) communityboard_uploadtime
, nvl(b.commentCount,0) commentCount
from communityboard c, (select communityboard_id, count(boardcomment_id) commentCount from boardcomment group by communityboard_id) b
where c.communityboard_id = b.communityboard_id(+)
order by communityboard_readcount desc
</select> 

<select id="getBoardListByRecommend" resultType="community">
select c.communityboard_id communityboard_id, c.communityboard_location communityboard_location, c.communityboard_title communityboard_title, 
c.communityboard_content communityboard_content, c.communityboard_readcount communityboard_readcount, c.communityboard_recommend communityboard_recommend, c.member_id member_id,
decode(To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'), to_char(sysdate,'YYYY-MM-DD'), (To_char(c.communityboard_uploadtime, 'hh24:mi:ss')), (To_char(c.communityboard_uploadtime, 'YYYY-MM-DD'))) communityboard_uploadtime
, nvl(b.commentCount,0) commentCount
from communityboard c, (select communityboard_id, count(boardcomment_id) commentCount from boardcomment group by communityboard_id) b
where c.communityboard_id = b.communityboard_id(+)
order by communityboard_recommend desc
</select>

<update id="addReadCount" parameterType="community">
update communityboard set communityboard_readcount = communityboard_readcount+1 where communityboard_id=#{communityboardId}
</update> 
 
<update id="modifyBoardContent" parameterType="community">
update communityboard set communityboard_title = #{communityboardTitle}, communityboard_content = #{communityboardContent} where communityboard_id=#{communityboardId}
</update>  


<insert id="writeComment" parameterType="comment">
INSERT INTO boardcomment (BOARDCOMMENT_ID, BOARDCOMMENT_CONTENT, BOARDCOMMENT_UPLOADTIME, MEMBER_ID, COMMUNITYBOARD_ID)
VALUES (BOARDCOMMENT_ID_SEQ.nextval, #{boardcommentContent}, SYSDATE, #{memberId},#{communityboardId})
</insert>

<select id="getCommentContent" parameterType="comment" resultType="comment">
select boardcomment_id, boardcomment_content, boardcomment_uploadtime, member_id, communityboard_id
from boardcomment
where communityboard_id=#{communityboardId}
order by boardcomment_uploadtime desc
</select>

<delete id="deleteOnCommunityBoard" parameterType="community">
delete from communityboard where communityboard_id=#{communityboardId}
</delete>

<delete id="deleteBoardComment" parameterType="comment">
delete from communityboard where communityboard_id=#{communityboardId}
</delete>

<delete id="commentDelete" parameterType="comment">
delete from boardcomment where boardcomment_id=#{boardcommentId}
</delete>

<update id="dislikeContent" parameterType="community">
update communityboard set communityboard_recommend =  communityboard_recommend-1 where communityboard_id=${communityboardId}
</update>

<update id="likeContent" parameterType="community">
update communityboard set communityboard_recommend =  communityboard_recommend+1 where communityboard_id=${communityboardId}
</update>


</mapper>