<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="messageDAO">
<select id="getMessagePartner" parameterType="String" resultType="message">
	SELECT *
	FROM MESSAGE
	WHERE MESSAGE_TARGET1 = #{id} OR MESSAGE_TARGET2 = #{id}
	ORDER BY MESSAGE_SENDTIME DESC
</select>


</mapper>