<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qnaDAO">

	<insert id="insertQna" parameterType="qna">
		INSERT INTO QUESTIONBOARD (QUESTIONBOARD_ID, QUESTIONBOARD_GRUOP_ID, QUESTIONBOARD_TITLE, QUESTIONBOARD_CONTENT, QUESTIONBOARD_UPLOADTIME, QUESTIONBOARD_READCOUNT, MEMBER_ID) 
		VALUES (QUESTIONBOARD_ID_SEQ.NEXTVAL, QUESTION_GROUPID_SEQ.NEXTVAL, #{questionboardTitle}, #{questionboardContent}, SYSDATE, #{questionboardReadcount}+0, #{memberId})
	</insert>
	
	<select id="selectQnaList" resultType="qna">
		SELECT *
		FROM QUESTIONBOARD
		ORDER BY QUESTIONBOARD_UPLOADTIME DESC
	</select>
	
	<select id="selectOne" parameterType="qna" resultType="qna">
		SELECT *
		FROM QUESTIONBOARD
		WHERE QUESTIONBOARD_ID = #{questionboardId}
	</select>
	
	<update id="update" parameterType="qna">
	 UPDATE QUESTIONBOARD
	 SET QUESTIONBOARD_TITLE = #{questionboardTitle}, QUESTIONBOARD_CONTENT = #{questionboardContent}
	 WHERE QUESTIONBOARD_ID = #{questionboardId}
	</update>
	
	<update id="updateReadcount" parameterType="qna">
	UPDATE QUESTIONBOARD
	SET QUESTIONBOARD_READCOUNT = QUESTIONBOARD_READCOUNT+1
	WHERE QUESTIONBOARD_ID = #{questionboardId}
	</update>
	
	<delete id="delete">
	DELETE 
	FROM QUESTIONBOARD
	WHERE QUESTIONBOARD_ID = #{questionboardId}
	</delete>

</mapper>
