<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='ShopDAO'>
	
	<select id='selectShopByTagWithPaging' parameterType="hashmap" resultType="shop">
			SELECT *
			FROM(
				SELECT ROWNUM AS RNUM, SHOP_ID, SHOP_NAME, 
				SHOP_CATEGORY, SHOP_PRODUCTNAME, SHOP_PRODUCTPRICE, 
				SHOP_IMG, SHOP_LINK
				FROM SHOP 
				<if test="!tagCategory.equals('all')">
					WHERE SHOP_NAME LIKE '%'||#{tagCategory}||'%' OR SHOP_CATEGORY LIKE '%'||#{tagCategory}||'%' OR SHOP_PRODUCTNAME LIKE '%'||#{tagCategory}||'%'
					<!-- WHERE REGEXP_LIKE (SHOP_NAME, '(*)'||#{tagCategory}||'(*)') OR REGEXP_LIKE (SHOP_CATEGORY, '(*)'||#{tagCategory}||'(*)') --> 
				</if>
				order by SHOP_NAME desc
				)
			<![CDATA[
			WHERE RNUM>=#{startRow} and RNUM<=#{endRow}
			]]>
	</select>
	
	<select id="selectShopCategoryList" parameterType='hashmap' resultType="shop">
		select * 
		from shop
		<if test="!tagCategory.equals('all')">
			WHERE SHOP_NAME LIKE '%'||#{tagCategory}||'%' OR SHOP_CATEGORY LIKE '%'||#{tagCategory}||'%' OR SHOP_PRODUCTNAME LIKE '%'||#{tagCategory}||'%'
			<!-- WHERE REGEXP_LIKE (SHOP_NAME, '(*)'||#{tagCategory}||'(*)') OR REGEXP_LIKE (SHOP_CATEGORY, '(*)'||#{tagCategory}||'(*)') -->  
		</if>
		order by shop_name desc
	</select>
	
	<select id="selectSearchKeyWordList" parameterType="hashmap" resultType="shop">
		SELECT SHOP_PRODUCTNAME
		FROM SHOP
		WHERE SHOP_PRODUCTNAME LIKE '%'||#{searchSomething}||'%'
	</select>
</mapper>