

/*admin product */
#writeBtn{
	width:100%;
    margin-left: 0px;
    font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;	
}


#searchBtn{
	width:20%;
    margin-right: 0px;   
    padding-left: 0px;
    padding-right: 0px;
    font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;
}

#searchWord{
	 width: 75%;
    margin-top: 0px;
    height: 45px;
	 
	font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;
}

btn btn-warning{
	width:100%;
    margin-left: 0px;
    font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;	
}
	

btn btn-primary{
	width:100%;
    margin-left: 0px;
    font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;	
}



.input-group{
	width: 100%;
}

#pagination_container{
    text-align: center;
    float:center;
    margin-left: 0px;
    height: 100%;
    width: 100%;
}

#productDataTable{
	text-align: center;
	float:center;
}

#productInfoButtonContainer{
	float:right;
}

.search row current{
    width: 1000px;
    margin-left: 0px;
    margin-right: 0px;
}


body{
    font-family: 'NanumSquare', sans-serif !important;    
}



th{
    padding-left: 0px;
    padding-right: 0px;
	text-align: center;
}


form{
    margin-right: 0px;
    width: 100%
    margin-right: 0px;
}


/*반응형*/
@media screen and (max-width: 768px){
	
#writeBtn{
	width:100%;
    margin-left: 0px;
    font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;	
}


#searchBtn{
	width:20%;
    margin-right: 0px;   
    padding-left: 0px;
    padding-right: 0px;
    font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;
}

#updateBtn{
	width:100%;
    margin-left: 0px;
    font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;	
}
	

#deleteBtn{
	width:100%;
    margin-left: 0px;
    font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;	
}


#searchWord{
	 width: 75%;
    margin-top: 0px;
    height: 45px; 
	font:normal;
   	font-size:16px;
  	padding: 10px 20px;
    margin-right: 5px;
    border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;
}

.input-group{
	width: 100%;
}

#pagination_container{
    text-align: center;
    float:center;
    margin-left: 0px;
    height: 100%;
    width: 100%;
}

#productDataTable{
	text-align: center;
	float:center;
}

#productInfoButtonContainer{
	float:right;
}

.search row current{
    width: 1000px;
    margin-left: 0px;
    margin-right: 0px;
}


body{
    font-family: 'NanumSquare', sans-serif !important;    
}



th{
    padding-left: 0px;
    padding-right: 0px;
	text-align: center;
}


form{
    margin-right: 0px;
    width: 100%
    margin-right: 0px;
}	