@charset "UTF-8";

html, body{
  height: 100%;
/*   overflow-x:hidden;overflow-y:hidden; */
}

div.chatWrapper{
	width : 100%;
	height : 100%;
	margin : auto;
}
div.chatContainer{
/*  	background-color: #0000ff;  */
	width : 100%;
	height : 100%;
	margin : auto;
}

/* div.chatWrapper{ */
/* 	width : 60%; */
/* 	height : 800px; */
/* 	margin : auto; */
/* } */
/* div.chatContainer{ */
/* /* 	background-color: #0000ff; */ 
/* 	width : 50%; */
/* 	height : 50%; */
/* 	margin : auto; */
/* } */
@media screen and (max-height: 700px) {
	div.messages{
		background-color: #999999;
/* 		background-color: #ff0000; */
		width : auto;
	/* 	height: 597px; */
/* 		height: 85.7%; */
		height: 85.7%;
		overflow : auto;
	}
}
@media screen and (min-height: 701px) {
	div.messages{
		background-color: #999999;
/* 		background-color: #ff0000; */
		width : auto;
	/* 	height: 597px; */
		height: 89.9%;
		overflow : auto;
	}
}

/* 0816 주석처리 시작*/
/* .messages li{ */
/* 	position: relative; */
/*     padding: 6px 8px; */
/*     margin: 4px 0; */
/*     background-color: #f5f6f7; */
/*     border-radius: 3px; */
/*     font-weight: 100; */
/*     color: #9b9b9b; */
/*     height:50px; */
/*     font-size : 20px; */
/* } */
/* 0816 주석처리 끝 */
.messages li.systemMessage{
	position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color: #cc6600;
    float: left;
/*     height:50px; */
    font-size : 20px;
    width : 100%;
}
.messages li.receiveMessage{
	position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color: #9b9b9b;
    border-radius: 10px;
    float:left;
    max-width:70%;
	min-width:51%;
/*     height:50px; */
    font-size : 20px;
}
.messages li.sendMessage{
	position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color: #9b9b9b;
    border-radius: 10px;
    float:right;
    max-width:70%;
	min-width:51%;
/*     height:50px; */
    font-size : 20px;
}

.messages li.receiveWhisperMessage{
	position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color: #009900;
    border-radius: 10px;
    float:left;
    max-width:70%;
	min-width:51%;
/*     height:50px; */
    font-size : 20px;
}
.messages li.sendWhisperMessage{
	position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color: #009900;
    border-radius: 10px;
    float:right;
    max-width:70%;
	min-width:51%;
/*     height:50px; */
    font-size : 20px;
}

#chatLocation{
	height: 50px;
	font-size : 20px;
}

#m{
	height: 50px;
	font-size : 20px;
}
#messageSendBtn{
	height:50px;
	border-radius:0px;
	font-size : 20px;
}

/* * { margin: 0; padding: 0; box-sizing: border-box; } */
/* body { font: 13px Helvetica, Arial; } */
/* form { padding: 3px; position: fixed; bottom: 0; width: 100%; } */
/* form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; } */
/* form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; } */
/* #messages { list-style-type: none; margin: 0; padding: 0; } */
/* #messages li { padding: 5px 10px; } */
/* #messages li:nth-child(odd) { background: #eee; } */