@charset "UTF-8";



#communityContentTitle{
	color : #03C75A;
}

#communityContentWriter{
	font-size:13px;
	font-weight: 700;
}

#communityContentTime{
	font-size:11px;
	color : #979797;
}


#commentWriter{
	font-size:12px;
	font-weight: 700;
}

#commentUploadTime{
	font-size:10px;
	color : #979797;
	
}
table {
	width: 100%;
}
.commentDelete{
	font-size:11px;
}

#recommendToContent{
	font-size:11px;
}

#like{
	cursor:pointer;
}


