@charset "UTF-8";



#communityContentTitle{
	color : #03C75A;
}

#communityContentWriter{
	font-size:13px;
	font-weight: 700;
}

#communityContentTime{
	font-size:11px;
	color : #979797;
}


#commentWriter{
	font-size:12px;
	font-weight: 700;
	color : #979797;
}

#commentUploadTime{
	font-size:10px;
	color : #979797;
	
}
table {
	width: 100%;
}
.commentDelete{
	font-size:11px;
}

#recommendToContent{
	font-size:11px;
}

#like{
	cursor:pointer;
}
#communityContentContent{
	font-size:20px;
}
#commentContent{
	font-size:16px;
}
#section{
   padding-top:5%;
   background: #faf9f8;
}
button{
	font:normal;
    font-size:16px;
    padding: 10px 20px;
    margin-right: 5px;
	border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;
}

