
@charset "UTF-8";

#findHospital{
font-family: 'NanumSquare', sans-serif !important;  
   text-align: center;
   color: black;
   font-size: 50px;
   font-weight: 700;
   margin-bottom: 1%;
}

#findHospitalSub{
font-family: 'NanumSquare', sans-serif !important;  
   font-size:28px;
   color: gray;
   text-align: center;
   margin-bottom: 5%;
}


#backGround{
  padding-top:5%;
  background: #faf9f8;
}



body{
	font-family: 'NanumSquare', sans-serif !important; 
	font-size: 20px;
}

.form-control{
	display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-style:none;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin-top:100px;
  
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
	


#keywordInput{
	
	display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-style:none;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin-top:100px;
  
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
	
	

#backGround{
   padding-top:5%;
   background: #faf9f8;
}
#searchName{
	font:normal;
   font-size:16px;
   padding: 10px 20px;
   margin-right: 5px;
border-color:#e4e4e4;
  border-radius: 10px;
  background: #fff;
	
}

#searchLocation{
	
	font:normal;
   font-size:16px;
   padding: 10px 20px;
   margin-right: 5px;
border-color:#e4e4e4;
  border-radius: 10px;
  background: #fff;
	
	
}


#map{
	width:100%;
	height:500px;
	margin-top: 15px;
}

ul#pagination-demo{
	text-align: center;
}

#pagination_container{
    text-align: center;
    float:center;
    margin-left: 0px;
    height: 100%;
    width: 100%;
}

table#findHospitalTable{
	text-align: center;
	float:center;
}

table#findHospitalTable th{
	text-align: center;
}


/*반응형*/
@media screen and (max-width: 768px){
	
#findHospital{
font-family: 'NanumSquare', sans-serif !important;  
   text-align: center;
   color: black;
   font-size: 50px;
   font-weight: 700;
   margin-bottom: 1%;
}

#findHospitalSub{
font-family: 'NanumSquare', sans-serif !important;  
   font-size:28px;
   color: gray;
   text-align: center;
   margin-bottom: 5%;
}


#backGround{
  padding-top:5%;
  background: #faf9f8;
}



body{
	font-family: 'NanumSquare', sans-serif !important; 
	font-size: 20px;
}

.form-control{
	display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-style:none;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin-top:100px;
  
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
	


#keywordInput{
	
	display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-style:none;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin-top:100px;
  
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
	
	

#backGround{
   padding-top:5%;
   background: #faf9f8;
}

#searchName{
	font:normal;
   font-size:16px;
   padding: 10px 20px;
   margin-right: 5px;
border-color:#e4e4e4;
  border-radius: 10px;
  background: #fff;
	
}

#searchLocation{
	
	font:normal;
   font-size:16px;
   padding: 10px 20px;
   margin-right: 5px;
border-color:#e4e4e4;
  border-radius: 10px;
  background: #fff;
	
	
}




#map{
	width:100%;
	height:500px;
	margin-top: 15px;
}

ul#pagination-demo{
	text-align: center;
}

#pagination_container{
    text-align: center;
    float:center;
    margin-left: 0px;
    height: 100%;
    width: 100%;
}

table#findHospitalTable{
	text-align: center;
	float:center;
}

table#findHospitalTable th{
	text-align: center;
}
