input#keywordInput{
	width: 90%;
}

table#findboardTable{
	text-align:center;
}
table#findboardTable th{
	text-align:center;
}

ul#pagination-demo{
	text-align: center;
}
#search-container{
	width:100%;
}

/* div#pagination_container{ */
/* 	text-align: center; */
/* } */