input#keywordInput{
	width: 90%;
}

table#findboardTable{
	text-align:center;
}
table#findboardTable th{
	text-align:center;
}
table#findboardTable td{
	width:110px;
	height:110px;
}
@media screen and (min-width: 800px) {
	table#findboardTable img{
		width:80%;
		height:200%;
	}
}
@media screen and (max-width: 799px) {
	table#findboardTable img{
		width:80%;
		height:80%;
	}
	table#findboardTable span{
		display:none;
	}
}
table#findboardTable a{
	color : #000000
}

ul#pagination-demo{
	text-align: center;
}
#search-container{
   width:100%;
}
#searchForMap-container{
   width:100%;   
}
#map{
   width:100%;
   height:500px;
}
.marker-infowindow{
   width:300px;
   height:200px;
   text-align:center;
}
#pagination-demo>li>a, #pagination-demo>li>span {
   
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #636363;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #fff;
}

#col1{
	width : 25%;
}   
#col2{
	width : 25%;
}   
#col3{
	width : 25%;
}   
#col4{
	width : 25%;
}  

/* @media screen and (max-width: 1200px) { */
/* 	#container table th:nth-child(1), th:nth-child(5), th:nth-child(6)  {  */
/* 		display: none;  */
/* 	} */
/* 	#container table td:nth-child(1), td:nth-child(5), td:nth-child(6)  {  */
/* 		display: none;  */
/* 	}   */
/* } */

img.infoWindowImage{
	width:100%;
	height:100px;
}
div.infoWindowImageContainer{
	max-width:50%;
	margin:auto;
}
