input#keywordInput{
	width: 90%;
}

table#findboardTable{
	text-align:center;
	table-layout: fixed;
    width: 100%;    
}
table#findboardTable th{
	text-align:center;
}
table#findboardTable td{
	width:110px;
	height:110px;
/* 	white-space: nowrap; */
/* 	overflow: hidden; */
/* 	text-overflow: ellipsis; */
	word-wrap:break-word
}
table#findboardTable a{
	width:50px;

}
@media screen and (min-width: 800px) {
	table#findboardTable img{
		width:80%;
		height:200%;
	}
}
@media screen and (max-width: 799px) {
	table#findboardTable img{
		width:80%;
		height:80%;
	}
	table#findboardTable span{
		display:none;
	}
}
table#findboardTable a{
	color : #000000
}

ul#pagination-demo{
	text-align: center;
}
#search-container{
   width:100%;
}
#searchForMap-container{
   width:100%;   
}
#map{
   width:100%;
   height:500px;
}
.marker-infowindow{
   width:300px;
   height:250px;
   text-align:center;
   border-radius:10px;
   border-collapse: separate;
}
#pagination-demo>li>a, #pagination-demo>li>span {
   
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #636363;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #fff;
}

#col1{
	width : 25%;
}   
#col2{
	width : 25%;
}   
#col3{
	width : 25%;
}   
#col4{
	width : 25%;
}  

img.infoWindowImage{
	width:100%;
	height:100px;
}
div.infoWindowImageContainer{
	max-width:50%;
	margin:auto;
}
#section{
   padding-top:5%;
   background: #faf9f8;
   margin-bottom:10%;
    padding-bottom:5%;
}
#qnatitle{
	text-align: center;
   color: black;
   font-size: 30px;
   margin-bottom: 1%;
}	
#qnasubtitle{
	font-size:18px;
   color: gray;
   text-align: center;
	
}
#markerGroup{
	float:right;
}
.markerSpan{
   font-size:25px;
}
.markerSpan2{
   font-size:25px;
}
.markerSpan img{
   width:40px;
   height:40px;
}
.markerSpan2 img{
   width:60px;
   height:40px;
}
td{
	font-size:19px;
}
a{
	font-size:22px;
}
option{
	font-size:19px;
}
input{
	font-size:19px;
}
.selectText{
	font-size:19px;
}
select{
	font-size:19px;
}
span.input-group-btn > button#writeBtn{
	font-size: 16px;
    padding: 10px 20px;
    margin-right: 5px;
    border-color: #e4e4e4;
    border-radius: 10px;
    background: #fff;
}
span.input-group-btn > button#searchBtn{
	font-size: 16px;
    padding: 10px 20px;
    margin-right: 5px;
    border-color: #e4e4e4;
    border-radius: 10px;
    background: #fff;
}
