@charset "UTF-8";
#map{
	width:100%;
	height:500px;
}
div#button-container{
	text-align:right;
}

/* div.carousel-item > img{ */
/* 	max-width:400px; */
/* 	max-height:300px; */
/* } */
/* div.carousel-item > img{ */
/* 	display : block; */
/* 	margin : auto; */
/* } */
@media screen and (min-width: 602px) {
	div.carousel-item > img{
		max-width:400px;
		max-height:300px;
	}
	div.carousel-item > img{
		display : block;
		margin : auto;
	}
}
@media screen and (max-width: 601px) {
	div.carousel-item > img{
		max-width:200px;
		max-height:100px;
	}
	div.carousel-item > img{
		display : block;
		margin : auto;
	}
}
span.carousel-control-prev-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
/* 	background-color : #000000; */
}
span.carousel-control-next-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
/* 	background-color : #000000; */
}

li.boardcontent-container{
	min-height : 400px;
}

.bigPictureWrapper {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	top:0%;
	width:100%;
	height:100%;
	background-color: gray; 
	z-index: 100;
	background:rgba(255,255,255,0.5);
}
.bigPicture {
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
}
		
.bigPicture img {
	width:300px;
	cursor: pointer;
}
img{
	cursor: pointer;
}
#section{
   padding-top:5%;
   background: #faf9f8;
   margin-bottom:10%
    padding-bottom:5%;
}
#contentText{
	font-size:20px;
}


.bgColor{
	background:#faf9f8;
}
