.icon-my{
	color: #727272;
}


.my1{
	text-align: center;
	margin: auto;
}
.ultag{
	margin-left: 20%;
	
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden; }
  .form-group:last-child {
    margin-bottom: 0px; }

.form-group input[type=button]{
	width: 66%;
  margin-left:31%;
  display: block;
  border: ridge;
  border-bottom: 1px solid #e2e2e4;
  padding: 5px 20px;
  font-family: Poppins;
  box-sizing: border-box; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	
}

.form-group input[type=submit]{
width: 50%;
  margin-left:25%;
  display: block;
  border: ridge;
  border-bottom: 1px solid #e2e2e4;
  padding: 5px 20px;
  font-family: Poppins;
  box-sizing: border-box; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	
}
.form-group input[type=submit]{
  
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-left:-7%;
  cursor: pointer; }
 .form-group input[type=submit]:hover{
    background: #4292dc; }
    
.form-group label, .form-group span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222; }
  
.form-group input {
  width: 65%;
  margin-left:28%;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box; }
  input::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder {
    color: #999; }
  input:focus {
    border-bottom: 1px solid #222; }
    input:focus::-webkit-input-placeholder {
      color: #222; }
    input:focus::-moz-placeholder {
      color: #222; }
    input:focus:-ms-input-placeholder {
      color: #222; }
    input:focus:-moz-placeholder {
      color: #222; }

.mypage-animal {
	margin-left:-80%;
 display :inline-block;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden; }
  .form-group:last-child {
    margin-bottom: 0px; }
   
.mypage-animal input {
	text-align:center;
  width: 80%;
  display: inline-block;
  padding: 6px 30px;
  font-family: Poppins;
 border: none;
 margin: auto;
 border-right : 1px solid #e2e2e4;

  }
  input::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder {
    color: #999; }
  input:focus {
    border-bottom: 1px solid #222; }
    input:focus::-webkit-input-placeholder {
      color: #222; }
    input:focus::-moz-placeholder {
      color: #222; }
    input:focus:-ms-input-placeholder {
      color: #222; }
    input:focus:-moz-placeholder {
      color: #222; }
      
      
.mypage-animal textarea{
  
  background :#fbfbfb; 
  width: 100%;
  height : 50%;
  margin-left:10%;
  display: inline-block;
  border : none;
  padding: 6px 30px;
  }
  
input[type=button] {

  width: 70%;
  margin-left:20%;
  display: block;
  border: ridge;
  border-bottom: 1px solid #e2e2e4;
  padding: 5px 20px;
  font-family: Poppins;
  box-sizing: border-box; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
  
  #uBtn{
  border-color:#fff;
  width: 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  }
  #uBtn:hover{
   color: #718947;
  }
  
   #dBtn{
   border-color:#fff;
  width: 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  }
  #dBtn a{
  color: #000;
   text-decoration:none;
  }
   #dBtn a:hover{
   
   color: #718947;
   text-decoration:none;
  }
  
  .mypage-animal2 h3{
  font-weight: bold;
  color :  #3a3a3a;
  
  }
  .mypage-animal2 h5{
  color :  #868686;
  }
  .mypage-animal2{
  margin: auto;
  }
   .mypage-animal2 input{
  border: none;
  text-align: center;
  color :  #868686;
  
  }
 .buyListNull{
  font-size: 15px;
  height : 40px;
  }
 
 .tedoory{
 width:100%;
  border: 2px solid #898792;
  padding: 25px 30px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  }

 .tedoorymain hr{
 border-color:  #d1d1d1;
  }
  .tedoorymain{
 width:100%;
  background : #f2f2f2;
  padding: 25px 30px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  margin: auto;
  }
  
 .signup-content{
 width:600px;
  }
 .signup-content2{
 width:700px;
 margin: auto;
  }
  
.tedoory2{
    margin-left:10%;
 width:80%;
  background : #f7f7f7;
  padding: 25px 30px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  }
  
figure img {
  margin: auto;
 }
 
 @media screen and (max-width: 768px){
.ultag{
	margin-left: 11%;
	
}

 .tedoorymain{
 width:78%;
 margin-left:2%;
  background : #f2f2f2;
  padding: 25px 30px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  }	

 
#tab-2{
 width: 80%;
 }
 
.signup-content figure{
	margin-left: 12%;
}
	
  .tedoory{
   margin-left:1%;
 width:80%;
  border: 2px solid #898792;
  padding: 25px 30px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  }
  
.tedoory2{
    margin-left:10%;
  width:80%;
  background : #f7f7f7;
  padding: 25px 30px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  }
  
  .signup-content{
 width:80%;
 
  }
  
  .mypage-animal input {
  width: 80%;
  margin-left:10%;
  display: inline-block;
  padding: 6px 30px;
  font-family: Poppins;

  }
  
  .mypage-animal textarea {
  width: 100%;
  height : 50%;
  margin-left:10%;

  padding: 6px 30px;
  resize: vertical;
  }
  
  
.animal-submit{
	margin-left: -20%;
}
 }
 
  
  .mypage-animal label{
  text-align: center;
  }

  #animalFeature{
  width:80%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  }
  
  .animal-submit {
  
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer; }
  .animal-submit:hover {
    background: #4292dc; }
  
  
 .imgAnimal{
 -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width : 130px;
  height: 130px;
 }
 

figure.tabs{
	margin-left:5%;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 12px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ffffff;
	color: #83bb44;
	
}

.tab-content{
	display: none;
	background: #ffffff;
	padding: 15px;
	text-align: center;
}

.tab-content.current{
	display: inherit;
}

.mypage-table {
	width:100%;
}

.mypage-table td{
	border-bottom: 1px solid;
}

	 
.signup-content figure{
	margin-left: 12%;
}
.buyListTd{
	height: 50px;
}

#pagination-demo>li>a, #pagination-demo>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #636363;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #fff;
    
}

#pagination-demo>li>a:hover:not(.active) {border-bottom:1px solid #ddd;}
