.mypage-animal {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden; }
  .form-group:last-child {
    margin-bottom: 0px; }

    
.mypage-animal input {
  width: 70%;
  margin-left:25%;
  display: block;
  border: ridge;
  border-bottom: 1px solid #2f2f2f;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box; 
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  }
  input::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder {
    color: #999; }
  input:focus {
    border-bottom: 1px solid #222; }
    input:focus::-webkit-input-placeholder {
      color: #222; }
    input:focus::-moz-placeholder {
      color: #222; }
    input:focus:-ms-input-placeholder {
      color: #222; }
    input:focus:-moz-placeholder {
      color: #222; }
      
      
.mypage-animal textarea {
  width: 70%;
  height : 170px;
  margin-left:25%;
  display: block;
  border: ridge;
  border-bottom: 1px solid #2f2f2f;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box; 
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
   resize: vertical;
  }
  
input[type=button] {

  width: 70%;
  margin-left:20%;
  display: block;
  border: ridge;
  border-bottom: 1px solid #e2e2e4;
  padding: 5px 20px;
  font-family: Poppins;
  box-sizing: border-box; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
  
  #uBtn{
width: 50%;
  margin-left:25%;
  display: block;
  border: ridge;
  border-bottom: 1px solid #2f2f2f;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box; 
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  }
  
   #dBtn{
width: 50%;
  margin-left:25%;
  display: block;
  border: ridge;
  border-bottom: 1px solid #2f2f2f;
  padding: 6px 10px;
  font-family: Poppins;
  box-sizing: border-box; 
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  }
  
  .mypage-animal h3{
  color: #6b854b;
  }
  
 .tedoory{
 width:90%;
  border: 2px solid #898792;
  padding: 25px 30px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  }
  
  .mypage-animal label{
  text-align: center;
  }
  
  #animalFeature{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  }
  
  .animal-submit {
  
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer; }
  .animal-submit:hover {
    background: #4292dc; }
  
  
 .imgAnimal{
 border : 2px solid #47464d;
 -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px
 }
 
 ul.tabs{
	margin-left:12%;
	padding: 0px;
	list-style: none;
}

figure.tabs{
	margin-left:5%;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ffffff;
	color: #83bb44;
	
}

.tab-content{
	display: none;
	background: #ffffff;
	padding: 15px;
	text-align: center;
}

.tab-content.current{
	display: inherit;
}

.mypage-table {
	width:100%;
	table-layout: fixed;
}

.mypage-table td{
	border-bottom: 1px solid;
}

.target { 
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
	 }
	 

