.mypage-message{
	margin-left: 5%;
	width: 90%;
	border: 1px solid #2f2f2f;
	padding: 6px 30px 6px 30px;
	/* height: 70px; */
	/* overflow:auto; */
	border-radius: 35px;
	height:auto;
	text-align : center;
	background-color: #fafafa;
}
#message-table{
	overflow:auto;
	height:700px;
}
/* #message-table2{
	height:700px;
} */
.mypage-messageThumbnail{
	margin-left: -40%;
	width: 50px; 
	height:50px;
	border-radius: 50%;
}
.mypage-messageId, .mypage-memberId{
	/* display: inline-block; */
	color: #0000ca;
	text-align: center; 
	cursor:pointer;
}
.mypage-messageTime{
	font-size:5px;
}
.mypage-messageContent{
	text-align: left; 
}
/* #message-table > div > table.table-sendBox > tbody > tr > td.td-sendBox{
	min-width:100%;
	width:100%;
} */
.td-sendWho{
	color: #0000ca;
	text-align: left;
	cursor:pointer;
}
.div-message{
	display:none;
}
.table-sendBox{
	width:100%;
}

.btn-message, #btn-searchSomeone{
	/* width:60px; */
	width:15%;
	height:35px;
	border-radius: 35px;
}
.searchMessage, #searchSomeone{
 	/* margin-left:-5%; */
	/* width:220px; */
	border-radius: 10px;
	width:85%;
	height:35px;
}
@media ( max-width: 425px ) {
  .searchMessage{
	margin-left:-5%;
	width:75%;
	height:35px;
	}
	.btn-message{
	/* width:60px; */
	width:25%;
	height:35px;
	border-radius: 35px;
	}
}
.fa-paper-plane{
	cursor:pointer;
}
#showMessage, #slash, #writeNewMessage{
	line-height:50px;
	font-size: 25px;
	cursor:pointer;
}
#showMessage{
	color:#83bb44;
}
#div-searchSomeone{
	
}
.mypage-newMessage{
	width:100%;
}
#div-memberList{
	display:inline-block;
	width:40%;
	height:90%
}
#div-chat{
	width:54%;
	overflow:auto;
	margin-bottom: 10%;
	margin-left:6%;
	display:inline-block;
	height:80%;
	border: 1px solid #2f2f2f;
}


/* .mypage-messageTime{
	margin-right: -10%;
} */