@charset "UTF-8";



.main_btn {
  display: inline-block;
  font-size:18px;

  }
.main_btn:hover {
    background: transparent;
    color: #004000; }
  
#col1{
	width : 16%;
}   
#col2{
	width : 55%;
}   
#col3{
	width : 17%;
}   
#col4{
	width : 7%;
}   
#col5{
	width : 5%;
}   

.cartList{
	height : 78px;
}
.cartListImg{
	width : 78px;
	height : 78px;
}
#qnatitle{
	text-align: center;
   color: black;
   font-size: 30px;
   margin-bottom: 1%;
}	
#qnasubtitle{
	font-size:18px;
   color: gray;
   text-align: center;
	
}
.table tr:first-child{
	text-align: center;
	font-size: 20px;

}
.container table.table tbody tr td{
	text-align: center;	
	vertical-align: middle;
	border-bottom: 1px solid #d8d7e1;
	font-size: 19px;
}

#totalAmount{
	border:1px solid #d8d7e1;
}

.totalTable{
	text-align: right;	
	font-size:23px;
}

#totalPrice{
	font-weight:bolder;
}

.buttons{
	text-align: center;	
	width:100%;
	align-items: center;
	font:normal;
    font-size:19px;
    padding: 10px 20px;
    margin-right: 5px;
	border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;
	
}
#section{
   padding-top:5%;
   background: #faf9f8;
   margin-bottom:10%;
   padding-bottom:5%;

}
.buttons{
	 background: #faf9f8;
}
section div div button{

	font:normal;
    font-size:16px;
    padding: 10px 20px;
    margin-right: 5px;
	border-color:#e4e4e4;
    border-radius: 10px;
    background: #fff;

}
[id^=productAmount]{
	width:58px;
}
@media ( max-width : 767px ) {
[id^=productAmount]{
	width:33px;
}
#cartTable thead tr th:nth-child(1){
	display: none;
}
#cartTable tbody tr td:nth-child(1){
	display: none;
}
#won{
	display: none;
}	
#col1 {
	width:0%;
}
#col2 {
	width:40%;
}
#col3 {
	width:20%;
}
#col4 {
	width:20%;
}
#col5 {
	width:20%;
}
}


