@charset "UTF-8";

/* 추가 */
body{
	font-family: 'NanumSquare', sans-serif !important; 	
	
}

.input-group-btn{
	width: 20%;
	
}
.input-group1 .form-control1 {
   width:50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-style:none;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin-top:100px;
  
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#searchSomething{margin-right: 5px;
    width: 300px;
    border-color: #e4e4e4;
    border-radius: 10px;
}
#productTable{
	margin-top: 3%;
}
.product-filter-section{
   padding-top:5%;
   background: #faf9f8;
}

.col-lg-4{
	margin-top:5%;
	margin-bottom: 5%;
}

#producttitle{
   text-align: center;
   color: black;
   font-size: 30px;
   margin-bottom: 1%;
   margin-left: 28%;
}

#productsubtitle{
   font-size:18px;
   color: gray;
   text-align: center;
   margin-bottom: 5%;
   margin-left: 28%;
}

#p_feature{
	margin-top: 2%;
	font-size: 16px;
	color: black;
}

#p_feature:hover{
	margin-top: 2%;
	font-size: 16px;
	color: black;
}

#producthr{
	border: 1px solid #c0c0c0;
}


#searchBtn{
	width:20%;
	font-size:16px;
	padding: 6px 16px;
	margin-right: 5px;
	border-color:#e4e4e4;
	border-radius: 10px;
	background: #fff;  
	
}

.artists-item h4{
	font-size: 17px;
	color: black;
	height: 30px;
	
}

.artists-item #p_productName:hover{
	font-size: 17px;
	color: gray;
	text-decoration: none;

}

#p_productPrice{
	font-family: 'NanumSquare', sans-serif !important;
	font-style: normal;
	font-size: 17px;
}

#newproductimg{
	width: 50px;
	margin-left: -2%;
	margin-bottom: -2%;
	margin-top: -3%;
}
#bar{
	font-size: 20px;
	color: gray;
}

.product-filter-menu > li > a {
	color: black;
	font-size: 18px;
/* 	font-weight: 700; */
	text-transform: uppercase;
/* 	background: #ebebeb; */
	width: 100%;
	padding: 10px 20px;
	border-radius: 31px;
	margin-left: -30%;
	
}

.product-filter-menu > li > a:hover {
	color: gray;
	font-size: 18px;
/* 	font-weight: 700; */
	text-transform: uppercase;
/* 	background: #ebebeb; */
	width: 100%;
	padding: 10px 20px;
	border-radius: 31px;
	text-decoration: none;
	margin-left: -30%;
}


/* 스크롤 배너 css ------------>>*/
#banner {
	width:100%;
	height:280px;
	position: absolute;
	font-size: 10pt;
	top: 140px;
	left: 0;
	z-index: 10;
	background: #fafafa;
	padding: 5px;
	border: 1px solid #e5e5e5;
	text-align: center;
}

#banner1 {
	width:100%;
	height:230px;
	position: absolute;
	font-size: 10pt;
	top: 440px;
	left: 290px;
	z-index: 10;
	background: #fafafa;
	padding: 5px;
	border: 1px solid #e5e5e5;
	text-align: center;
}

#bannerX{
	display : block;
	margin-top:140px;
	margin-left:-20px;
	float:left;
	font-size: 10px;
	font-size: 13px;
}

#bannerX1{
	position : absolute;
	margin-top:440px;
	margin-left:93%;
	float:left;
	font-size: 10px;
	font-size: 13px;
}

.glyphicon-chevron-up{
	color: #acacac;	
}
.glyphicon-chevron-down{
	color: #acacac;
}


#display>span {
	margin-top:10px;
	margin-bottom: 10px;
	display: block;
	font-weight: bold;
	font-size: 20px;
}


.banner_contents {
	width:95%;
	min-height: 200px;
	margin: auto;
	margin-bottom: 6px;
	text-align: left;
}

#newproductimg{
	width: 50px;
	margin-left: -2%;
	margin-bottom: -5%;
}

.banner_contents .badge-danger{
	background-color: #a94442;
}
.banner_contents span{
	margin-left:3px;
	margin-top: 14px;
	font-size: 17px;
	
}

.banner_contents1 span{
	margin-left:3px;
	margin-top: 17px;
	font-size: 17px;
	
}

.banner_contents1 {
	width:95%;
	min-height: 200px;
	margin: auto;
	margin-bottom: 6px;
	text-align: left;
}

.banner_contents a{
		margin-left:10px;
	margin-top: 25px;
	font-size: 17px;


}

.banner_contents1 a{
	margin-left:10px;
	margin-top: 24px;
	font-size: 17px;
	
}

.bannerDiv {
	position: relative;
	float: right;
	width: 290px;
	right: -30%;
}

.Ranktitle{
	height:12%;
	font-size:20px;
	background: #575757;
	padding-top: 3px;
	color: #fff;
	  -webkit-border-radius:15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
	
}
.Ranktitle2{
	height:18%;
	font-size:20px;
	background: #575757;
	padding-top: 5px;
	color: #fff;
	  -webkit-border-radius:15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
	
}
/* 실종신고 탭 css */
.tab_menu_container .badgeNew{
	background-color: #c23129;
	font-size: 10px;
	margin-left: 4px;
}

.tab_box span{
	margin-top: 8px;
	font-size: 15px;
	
}


.tab_box a{
	margin-left:10px;
	margin-bottom:10%;
	font-size: 17px;
	
}
.tab_menu_container button {
  background:none;
  border:0;
  outline:0;
  cursor:pointer;
}
.tab_menu_container {
  display:flex;
}
.tab_menu_btn {
	font-size:17px;
  width:140px;
  height:40px;
  transition:0.3s all;
}
.tab_menu_btn.on {
  border-bottom:1px solid #969696;
  font-weight:750;
  font-size:17px;
  color:#313131;
}
.tab_menu_btn:hover {
  color:#4f4f4f;
}
.tab_box {
  display:none;
  padding:10px;
  text-align: left;
}
.tab_box.on {
  display:block;
}

/* 실종신고 탭 css */

/* <<----------- 스크롤 배너 css */
#pagination-demo>li>a, #pagination-demo>li>span {
   
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #636363;
    text-decoration: none;
    background-color: #faf9f8;
    border: 1px solid #faf9f8;
}

#ul-div{
	text-align: center;
	margin-left: -10%;
}
#pagination-div{
	text-align: center;
	position: relative;
}

#pagination_container{
	text-align: center;
}

/* search part */
/* #searchDiv{
	margin-right: auto;
	margin-left: auto;
} */

/* #serchSomething{
	width : 10%;
	text-align: center;
} */
#locationTag{
	color : skyblue;
}
#searchDiv{
	width:100%;
}
#searchBar{
	width:500px;
	margin-left: 65%;
	margin-top: 7%;
}
.artists-item img{
	width: 100%;
	margin-bottom: 5%;
	
}




@media ( max-width : 767px ) {


.input-group1 .form-control1 {
   width:70%;

    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-style:none;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
  	margin-top:1%;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bannerDiv {
	display: none;
}

body{
	font-family: 'NanumSquare', sans-serif !important; 	
	
}

#productTable{
	margin-top: 3%;
}

#searchBtn{
	font:normal;
	font-size:13px;
	padding: 8px 16px;
	margin-right: 5px;
	border-color:#e4e4e4;
	border-radius: 10px;
	background: #fff;  
}

.col-lg-4{
	margin-top:5%;
	margin-bottom: 5%;
}

#producttitle{
   text-align: center;
   color: black;
   font-size: 26px;
   margin-bottom: 1%;
   margin-left: 1%;
}

#productsubtitle{
   font-size:16px;
   color: gray;
   text-align: center;
   margin-bottom: 5%;
   margin-left: 1%;
}

#p_feature{
	margin-top: 2%;
	font-size: 16px;
	color: black;
}

#p_feature:hover{
	margin-top: 2%;
	font-size: 16px;
	color: black;
}

#producthr{
	border: 1px solid #c0c0c0;
}

.artists-item h4{
	font-size: 17px;
	color: black;
	height: 30px;
	margin-bottom: 10%;
}

.artists-item #p_productName:hover{
	font-size: 17px;
	color: gray;
	text-decoration: none;

}

#p_productPrice{
	font-family: 'NanumSquare', sans-serif !important;
	font-style: normal;
	font-size: 17px;
}

#newproductimg{
	width: 50px;
	margin-left: -2%;
	margin-bottom: -2%;
	margin-top: -3%;
}
#bar{
	font-size: 14px;
	color: gray;
}

.product-filter-menu > li > a {
	color: black;
	font-size: 12px;
/* 	font-weight: 700; */
	text-transform: uppercase;
/* 	background: #ebebeb; */
	width: 100%;
	padding: 3px 3px;
	border-radius: 31px;
	margin-left: -10%;
	
}

.product-filter-menu > li > a:hover {
	color: gray;
	font-size: 12px;
/* 	font-weight: 700; */
	text-transform: uppercase;
/* 	background: #ebebeb; */
	width: 100%;
	padding: 3px 3px;
	border-radius: 31px;
	text-decoration: none;
	margin-left: -10%;
}

#pagination-demo>li>a, #pagination-demo>li>span {
   
    position: relative;
    float: left;
    padding: 6px 5px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #636363;
    text-decoration: none;
    background-color: #faf9f8;
    border: 1px solid #faf9f8;
    font-size: 14px;
}

#ul-div{
	text-align: center;
	margin-left: -10%;
}
#pagination-div{
	text-align: center;
	position: relative;
}

#pagination_container{
	text-align: center;
}

/* search part */
/* #searchDiv{
	margin-right: auto;
	margin-left: auto;
} */

/* #serchSomething{
	width : 10%;
	text-align: center;
} */
#locationTag{
	color : skyblue;
}
#searchDiv{
	width:100%;
}
#searchBar{
	width:100%;
	margin-left: 3%;
}
.artists-item img{
	width: 100%
}
}