@charset "UTF-8";

table {
	width : 65%;
	height : 60%;
	margin-left: 20%;
	margin-right: 60%;
}

#title{
	width : 20%;
}

#content{
	width : 80%;
}

#content-content {
	height : 30%;
	text-align: center;
}

#mulBtn{
	margin-left: 75%;
}





