@charset "UTF-8";

#pagination-demo>li>a, #pagination-demo>li>span {
   
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #636363;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #fff;
}

#ul-div{
	text-align: center;
}
#pagination-div{
	text-align: center;
	display: relative;
}

#pagination_container{
	text-align: center;
}

/* search part */
/* #searchDiv{
	margin-right: auto;
	margin-left: auto;
} */

/* #serchSomething{
	width : 10%;
	text-align: center;
} */
#locationTag{
	color : skyblue;
}
#searchDiv{
	width:100%;
}
#searchBar{
	width:200px;
	float:right;
}
.artists-item img{
	width: 100%
}

/* #searchBtn{
	position: relative;
    left: 10px;
				
}
#writeBtn{			
	margin-left: 10px;
} */
